.nav {
	margin: 0;
	padding: 15px 0;
	width: 100%;
	top: 0;
	z-index: 3;	
	background-color: $navBackgroundColor;
	border-bottom: 10px solid $navBorder;
	.logo {
		float: left;
		display: inline-block;
	}
	.logo, ul {
		margin: 0;
		font-size: 1.2em;
	}
	a {
		color: $navColor;
		text-decoration: none;
		&:hover, &:visited {
			color: $navColor;
		}
	}	
}

.menu {
	float: right;
	&.active {
		clear: both;
		width: 100%;
		ul {
			display: block;
			padding: 0;
		}
	}
	ul {
		display: none;
		margin-top: 20px;
	}
	li {
		display: block;
		border-top: 1px solid $navSeperatorBorder;
		text-align: right;
		&:first-child {
			border-top: 0;
		}
	}	
}

.burger {
	float: right;
	cursor: pointer;
	margin-top: 2px;
	&:before {
		content:"\2630";
		text-rendering: geometricPrecision;
		font-size: 20px;
		line-height: 1em;
	}
}

@media all and (min-width: $screen-xs) {
	.menu {
		ul {
			display: block;
			width: auto;
			clear: none;
			margin: 0;
		}
		li {
			display: inline-block;
			border-top: 0;
			border-left: 1px solid $navBorder;
			padding-left: 5px;
			&:first-child {
				padding: 0;
				border: 0;
			}
		}
		&.active {
			width: auto;
			clear: none;
		}
	}
	.burger {
		display: none;
	}
}