.skills {
	.skill, .skillContainer {
		float: left;
	}
	.skills {
		float: left;
		width: 50%;
	}
	.skill {
		clear: left;
		width: 23%;
	}
	.skillContainer,
	.skillBar {
		border-radius: 10px;
	}
	.skillContainer {
		width: 77%;
		border: 1px solid $skillContainerColor;
		box-shadow: inset 0px 3px 6px -4px $skillContainerColor;
		background-color: #FFF;
		height: 20px;
		padding: 2px;
		margin: 17px 0;
	}
	.skillBar {
		height: 100%;
		background-color: $skillBarColor;
		display: block;
	}
	.pro {
		width: 100%;
	}
	.semiPro {
		width: 80%;
	}
	.average {
		width: 60%;
	}
	.poor {
		width: 45%;
	}
	.terrible {
		width: 30%;
	}
}

@media all and (min-width: $screen-xs) {

	.skills {
		.skillContainer {
			width: 80%;
		}

		.skill {
			width: 20%;
		}
	}

}