// Import some of bootstrap because I can be lazy
@import 'normalize';
@import 'grid';

@import 'mixins';

body {
	background: $backgroundColor;
}

main.container {
	background: url('/motion.gif') no-repeat right -90px;
	height: 420px;
}

// My styles
@import 'navbar';