// Import some of bootstrap because I can be lazy
@import 'normalize';
@import 'grid';

@import 'mixins';

body {
	background: $backgroundColor;
}

.container {
	max-width: 920px;
}

$navBarHeight: 64px;

main.container {
	text-shadow: 1px 1px 2px #000, -1px -1px 2px #000, -1px 1px 2px #000, 1px -1px 2px #000;
	color: #FFF;
	padding: 0;
}

section {
	height: 410px;
	background: url('/media/bull.gif') no-repeat right center;
	display: inline-block;
	h1 {
		margin-top: $navBarHeight;
	}
}

// My styles
@import 'navbar';